<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_analytics_index">
            <strategies hint="list:AddStrategy">
              <timed type="Sitecore.ContentSearch.Maintenance.Strategies.TimedIndexRefreshStrategy, Sitecore.ContentSearch">
                <param desc="interval">00:00:00</param>
              </timed>
            </strategies>
          </index>
          <index id="sitecore_core_index">
            <strategies hint="list:AddStrategy">
              <strategy>
                <patch:attribute name="ref">contentSearch/indexConfigurations/indexUpdateStrategies/manual</patch:attribute>
              </strategy>
            </strategies>
          </index>
          <index id="sitecore_master_index">
            <strategies hint="list:AddStrategy">
              <strategy>
                <patch:attribute name="ref">contentSearch/indexConfigurations/indexUpdateStrategies/manual</patch:attribute>
              </strategy>
            </strategies>
          </index>
          <index id="sitecore_web_index">
            <strategies hint="list:AddStrategy">
              <strategy>
                <patch:attribute name="ref">contentSearch/indexConfigurations/indexUpdateStrategies/manual</patch:attribute>
              </strategy>
            </strategies>
          </index>
        </indexes>
      </configuration>
    </contentSearch>

    <setting name="Indexing.UpdateInterval">
      <patch:attribute name="value">00:00:00</patch:attribute>
    </setting>
    
  </sitecore>
</configuration>