<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Config based on gist: https://gist.github.com/kamsar/8c9efc80e72e6ada8304-->
    <pipelines>
      <initialize>
        <!-- Disable speak precompilations; this increases first hit dialog load time but drastically reduces instance startup time (by about 40 sec) after a compile -->
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete/>
        </processor>
        <!-- Removing precompiler again, now for content testing :-) -->
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client">
          <patch:delete/>
        </processor>
      </initialize>
    </pipelines>
    <settings>
      <setting name="Counters.Enabled">
        <!-- disable perf counters for a performance boost -->
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
    <scheduling>
      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:delete/>
      </agent>
    </scheduling>
  </sitecore>
</configuration>