<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <!-- turn scheduler completly -->
      <frequency>00:00:00</frequency>
      <agent name="Master_Database_Agent">
        <patch:attribute name="interval">00:00:00</patch:attribute>
      </agent>
    </scheduling>
  </sitecore>
</configuration>