<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <scheduling>
      <!-- turn scheduler completly -->
      <frequency>00:00:00</frequency>
      <!-- Database tasks agent disabled -->
      <agent name="Master_Database_Agent">
        <patch:attribute name="interval">00:00:00</patch:attribute>
      </agent>
      <!-- We don't need to keep 30 days (default) publishing queue, 1 day is enough-->
      <agent type="Sitecore.Tasks.CleanupPublishQueue, Sitecore.Kernel">
        <DaysToKeep>1</DaysToKeep>
      </agent>
      <!-- We don't need to keep so much data in event queue, 4 hours is enough -->
      <agent type="Sitecore.Tasks.CleanupEventQueue, Sitecore.Kernel">
        <patch:attribute name="interval">01:00:00</patch:attribute>
        <IntervalToKeep>04:00:00</IntervalToKeep>
      </agent>
    </scheduling>

     <!-- We don't need to keep 30 days (default) history. 12 hours is enough -->
    <databases>
      <database id="core">
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <EntryLifeTime>00.12:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
      </database>
      <database id="master">
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)"/>
            <EntryLifeTime>00.12:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
      </database>
      <database id="web">
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)" />
            <EntryLifeTime>00.12:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
      </database>
    </databases>
  </sitecore>
</configuration>