<footer id="footer" class="dark">
	<div class="container">
	</div>

	<div id="copyrights">
		<div class="container">

			<div class="row col-mb-30">

				<div class="col-md-6 text-center text-md-start">
					Bartłomiej Mucha blogging about programming and Sitecore since 2014
				</div>

				<div class="col-md-6 text-center text-md-end">
					<div class="d-flex justify-content-center justify-content-md-end">
						<a href="https://stackoverflow.com/users/421490/bart%C5%82omiej-mucha" class="social-icon si-small si-borderless si-stackoverflow">
							<i class="icon-stackoverflow"></i>
							<i class="icon-stackoverflow"></i>
						</a>
						<a href="https://twitter.com/batlomiejmucha" class="social-icon si-small si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="https://github.com/bartlomiejmucha" class="social-icon si-small si-borderless si-github">
							<i class="icon-github"></i>
							<i class="icon-github"></i>
						</a>
						<a href="https://www.linkedin.com/in/bartlomiejmucha/" class="social-icon si-small si-borderless si-linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
						<a href="https://www.youtube.com/channel/UCWG8FB6EzCwQDuQG5lwFx7Q" class="social-icon si-small si-borderless si-youtube">
							<i class="icon-youtube"></i>
							<i class="icon-youtube"></i>
						</a>
						<a href="{{ '/feed.xml' | absolute_url }}" class="social-icon si-small si-borderless si-rss">
							<i class="icon-rss"></i>
							<i class="icon-rss"></i>
						</a>
					</div>

					<div class="clear"></div>
				</div>

			</div>

		</div>
	</div>
</footer>