<header id="header" class="full-header" data-mobile-sticky="true">
	<div id="header-wrap">
		<div class="container">
			<div class="header-row">

				<div id="logo" class="mx-auto">
					<a href="{{ '/' | relative_url }}" class="standard-logo"><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Hello, programming world!"></a>
					<a href="{{ '/' | relative_url }}" class="retina-logo"><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Hello, programming world!"></a>
				</div>

			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header>