<a href="https://stackoverflow.com/users/421490/bart%C5%82omiej-mucha" class="{{ include.class }}">Stack Overflow</a>
<a href="https://github.com/bartlomiejmucha" class="{{ include.class }}">GitHub</a>
<a href="https://www.linkedin.com/in/bartlomiejmucha/" class="{{ include.class }}">LinkedIn</a>
<a href="https://x.com/bartlomiejmucha" class="{{ include.class }}">X</a>
<a href="https://www.youtube.com/channel/UCWG8FB6EzCwQDuQG5lwFx7Q" class="{{ include.class }}">YouTube</a>
<a href="{{ '/feed.xml' | absolute_url }}" class="{{ include.class }}">RSS</a>
