<div class="widget clearfix">

	<h4>Follow Me On</h4>
	<a href="https://stackoverflow.com/users/421490/bart%C5%82omiej-mucha" class="social-icon si-colored si-stackoverflow" data-bs-toggle="tooltip" data-bs-placement="top" title="Stack Overflow">
		<i class="icon-stackoverflow"></i>
		<i class="icon-stackoverflow"></i>
	</a>
	<a href="https://twitter.com/batlomiejmucha" class="social-icon si-colored si-twitter" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter">
		<i class="icon-twitter"></i>
		<i class="icon-twitter"></i>
	</a>
	<a href="https://github.com/bartlomiejmucha" class="social-icon si-colored si-github" data-bs-toggle="tooltip" data-bs-placement="top" title="Github">
		<i class="icon-github"></i>
		<i class="icon-github"></i>
	</a>
	<a href="https://www.youtube.com/channel/UCWG8FB6EzCwQDuQG5lwFx7Q" class="social-icon si-colored si-youtube" data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube">
		<i class="icon-youtube"></i>
		<i class="icon-youtube"></i>
	</a>
	<a href="https://www.linkedin.com/in/bartlomiejmucha/" class="social-icon si-colored si-linkedin" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn">
		<i class="icon-linkedin"></i>
		<i class="icon-linkedin"></i>
	</a>
	<a href="{{ '/feed.xml' | absolute_url }}" class="social-icon si-colored si-rss">
		<i class="icon-rss"></i>
		<i class="icon-rss"></i>
	</a>

</div>
