<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <databases>
      <database id="master">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)">
            <prefetch hint="raw:AddPrefetch">
              <template desc="media folder">{FE5DD826-48C6-436D-B87A-7C4210C7413B}</template>
            </prefetch>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>