<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <databases>
      <database id="web">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)">
            <prefetch hint="raw:AddPrefetch">
              <item desc="examplesite home">{5F2453AB-9862-4F31-8490-B47750C1DA65}</item>
              <children desc="examplesite home child items">{5F2453AB-9862-4F31-8490-B47750C1DA65}</children>
              <children desc="examplesite home panels data sources">{6CFE2965-9767-4098-99A2-9004297E778F}</children>
              <children desc="global navigation folder">{6A813925-A881-49D6-83C0-AB6BE0696AD2}</children>
            </prefetch>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>