<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="ExampleSite">
        <patch:attribute name="itemwebapi.mode">Off</patch:attribute>
        <patch:attribute name="itemwebapi.access">ReadOnly</patch:attribute>
        <patch:attribute name="itemwebapi.allowanonymousaccess">false</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>