<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <dianogaOptimizeSvg>
        <!--processor deleted because not work well with interactive SVG's.-->
        <processor type="Dianoga.Optimizers.Pipelines.DianogaSvg.SvgoOptimizer, Dianoga">
          <patch:delete/>
        </processor>
      </dianogaOptimizeSvg>
    </pipelines>
  </sitecore>
</configuration>