<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>ExampleSite</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>ExampleSite</site>
          </sites>
        </handler>
      </event>
    </events>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.BeginDiagnostics, Sitecore.Kernel']" type="ExampleSite.Processors.DetectMobile, ExampleSite"/>
      </httpRequestBegin>
    </pipelines>
    <linkManager>
      <patch:attribute name="defaultProvider">ExampleLinkProvider</patch:attribute>
      <providers>
        <add addAspxExtension="false" alwaysIncludeServerUrl="true" encodeNames="true" languageEmbedding="Never" languageLocation="filePath" lowercaseUrls="true" name="ExampleLinkProvider" shortenUrls="true" type="ExampleSite.Providers.ExampleLinkProvider, ExampleSite" useDisplayName="false"/>
      </providers>
    </linkManager>
    <scheduling>
      <frequency>00:05:00</frequency>
    </scheduling>
    <processors>
      <uiUpload>
        <processor patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" type="ExampleSite.Processors.EmbedIptcData, ExampleSite"/>
      </uiUpload>
    </processors>
    <sites>
      <site name="website">
        <patch:delete/>
      </site>
      <site allowDebug="true" cacheHtml="true" cacheMedia="true" database="web" disableClientData="false" domain="extranet" enableAnalytics="true" enableDebugger="true" enablePreview="true" enableWebEdit="true" enableWorkflow="true" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" loginPage="/account/login" name="ExampleSite" patch:after="*[@name='modules_website']" physicalFolder="/" rootPath="/sitecore/content" startItem="/Example/Home" virtualFolder="/"/>
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <patch:delete/>
        </website>
        <ExampleSite>
          <html>250MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </ExampleSite>
      </sites>
    </cacheSizes>
    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">ExampleSite.Providers.ExampleMediaProvider,ExampleSite</patch:attribute>
      </mediaProvider>
      <mediaTypes>
        <mediaType extensions="pdf">
          <forceDownload>false</forceDownload>
        </mediaType>
      </mediaTypes>
    </mediaLibrary>
    <settings>
      <setting name="Counters.InstanceName">
        <patch:attribute name="value">ExampleSite</patch:attribute>
      </setting>
      <setting name="InstanceName">
        <patch:attribute name="value">ExampleSite</patch:attribute>
      </setting>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value">ExampleSite</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>