<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="dataFolder">
      <patch:attribute name="value">D:\work\src\ExampleSite\Data</patch:attribute>
    </sc.variable>
    <sites>
      <site name="ExampleSite">
        <patch:attribute name="hostName">examplesite.local</patch:attribute>
        <patch:attribute name="targetHostName">examplesite.local</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">localhost</patch:attribute>
      </setting>
      <setting name="Analytics.ClusterName">
        <patch:attribute name="value">examplesite.local</patch:attribute>
      </setting>
      <setting name="Analytics.HostName">
        <patch:attribute name="value">examplesite.local</patch:attribute>
      </setting>
      <setting name="ExampleSite.ContactUsTestMode">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>